<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intervantial.positive.com.postiveintervantial">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Positive Intervention"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".mainscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="" />
        <activity
            android:name=".HealthAndSafety"
            android:label="" />
        <activity android:name=".PhoneNumber" />
        <activity android:name=".Verification" />
        <activity
            android:name=".UnfairTreatment"
            android:label="" />
        <activity
            android:name=".ReportAnInjury"
            android:label="" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".ReviewOfSight"
            android:label="" />
        <activity
            android:name=".HomeScreen2"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".navdrawer"
            android:label="@string/title_activity_navdrawer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".HealthandSafteyDetails"></activity>
    </application>

</manifest>